## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv(r'ml-latest-small\movies.csv')
ratings = pd.read_csv(r'ml-latest-small\ratings.csv')

In [8]:
rankings = movies[['movieId', 'title']].merge(ratings[['movieId', 'rating', 'userId']], 'inner', on='movieId', suffixes=('', ''))

In [9]:
def rank_movie(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [11]:
rankings['class'] = rankings['rating'].apply(rank_movie)
rankings

,movieId,title,rating,userId,class
0,1,Toy Story (1995),3.0,7,средний рейтинг
1,1,Toy Story (1995),4.0,9,средний рейтинг
2,1,Toy Story (1995),5.0,13,высокий рейтинг
3,1,Toy Story (1995),2.0,15,низкий рейтинг
4,1,Toy Story (1995),3.0,19,средний рейтинг
...,...,...,...,...,...
99999,161944,The Last Brickmaker in America (2001),5.0,287,высокий рейтинг
100000,162376,Stranger Things,4.5,73,высокий рейтинг
100001,162542,Rustom (2016),5.0,611,высокий рейтинг
100002,162672,Mohenjo Daro (2016),3.0,611,средний рейтинг
100003,163949,The Beatles: Eight Days a Week - The Touring Y...,5.0,547,высокий рейтинг

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [12]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [13]:
keywords = pd.read_csv(r'ml-latest-small\keywords.csv')

In [20]:
def define_region(keyword):
    for k, v_list in geo_data.items():
        for v in v_list:
            if keyword.find(v) > -1:
                return k
    return 'undefined'

In [22]:
keywords['region'] = keywords['keyword'].apply(define_region)
keywords[keywords['region'] != 'undefined']

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
564                погода в санкт петербурге  292489    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
...                                      ...     ...             ...
99590  авито ярославль автомобили с пробегом    3673           Центр
99634   северпост новости мурманской области    3606    Северо-Запад
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[747 rows x 3 columns]

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

1. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. 
2. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    1. для каждой строки пройдите по всем годам списка years
    2. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    3. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [29]:
years = [str(x) for x in range(1950, 2011)]

In [30]:
def production_year(title):
    for year in years:
        if title.find(year) > -1:
            return year
    return '1900'

In [31]:
movies['year'] = movies['title'].apply(production_year)
movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,1900
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,1900
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900
9123,164977,The Gay Desperado (1936),Comedy,1900
9124,164979,"Women of '69, Unboxed",Documentary,1900

In [33]:
year_rankings = (movies[['movieId', 'year']]
                 .merge(ratings[['movieId', 'rating']], 'inner', on='movieId', suffixes=('', ''))
                 .groupby('year')
                 .agg('mean')
                 .reset_index()
                 .sort_values('rating', ascending=False)[['year', 'rating']]
                )
year_rankings

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.356104

[62 rows x 2 columns]